<div class="container bg-primary text-white mt-5 p-5">Container</div>

<div class="container mt-5 p-5 bg-primary">
  <div class="row bg-secondary">Row1</div>

  <div class="row bg-warning">Row2</div>

  <div class="row bg-danger">Row3</div>
</div>

<div class="container mt-3 p-3 bg-primary text-white">
  <div class="row bg-danger">
    <div class="col-1 bg-warning">Col1</div>
    <div class="col-1 bg-danger">Col2</div>
    <div class="col-1 bg-info">Col3</div>
    <div class="col-1 bg-secondary">Col4</div>
    <div class="col-1 bg-warning">Col5</div>
    <div class="col-1 bg-danger">Col6</div>
    <div class="col-1 bg-info">Col7</div>
    <div class="col-1 bg-secondary">Col8</div>
    <div class="col-1 bg-danger">Col9</div>
    <div class="col-1 bg-info">Col10</div>
    <div class="col-1 bg-secondary">Col11</div>
    <div class="col-1 bg-warning">Col12</div>
  </div>

  <div class="row mt-2 bg-danger">
    <div class="col-3 bg-success">Col-3</div>
    <div class="col-3 bg-danger">Col-3</div>
    <div class="col-3 bg-success">Col-3</div>
    <div class="col-3 bg-danger">Col-3</div>
  </div>
  <div class="row mt-2 bg-danger">
    <div class="col-6 bg-success">Col-6</div>
    <div class="col-6 bg-danger">Col-6</div>
  </div>

  <div class="row mt-2 bg-danger">
    <div class="col-3 bg-success">Col-3</div>
    <div class="col-5 bg-danger">Col-5</div>
    <div class="col-2 bg-warning">Col-2</div>
    <div class="col-2 bg-dark">Col-2</div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <img
        src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        width="100%"
        height="100%"
      />
    </div>

    <div class="col-6">
      <img
        src="https://images.pexels.com/photos/1549280/pexels-photo-1549280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        width="100%"
        height="100%"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <img
        src="https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        width="100%"
        height="100%"
      />
    </div>

    <div class="col-6">
      <img
        src="https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        width="100%"
        height="100%"
      />
    </div>
  </div>
</div>
