<div class="mainContainer">
  <app-navbar></app-navbar>
  <router-outlet> </router-outlet>
  <!-- <app-ngswitch-c></app-ngswitch-c> -->
  <!-- <app-ngswitchdemo></app-ngswitchdemo> -->
  <!-- <app-ngifthenelse></app-ngifthenelse> -->
  <!-- <app-users-profile></app-users-profile> -->
  <!-- <app-ngif-c></app-ngif-c> -->
  <!-- <app-twowaydb></app-twowaydb> -->
  <!-- <app-products></app-products> -->
  <!-- <app-property-db></app-property-db> -->
  <!-- <app-onwaydb></app-onwaydb> -->
  <!-- <app-home></app-home> -->
  <!-- <app-cards></app-cards> -->
  <!-- <app-gridc></app-gridc> -->
  <!-- <app-bootstrap-b></app-bootstrap-b> -->
  <!-- <h2>Hello {{ name }},</h2>
  <p>Welcome to Angular World</p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est reiciendis,
    libero perferendis aspernatur odio accusamus soluta nam facilis expedita
    atque consectetur totam nisi laboriosam suscipit architecto nesciunt quam
    sequi voluptates voluptas autem eaque laborum ullam consequuntur tempore.
    Ducimus explicabo consequatur id excepturi veniam dolor architecto a eaque
    debitis exercitationem. Nemo.
  </p>
  <app-header> </app-header>
  <app-main></app-main>
  <app-custom></app-custom> -->

  <!-- <app-main></app-main> -->
</div>
