<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h3>User Details</h3>
        </div>

        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">{{ userDataCameFromHomeComp.name }}</li>
            <li class="list-group-item">
              {{ userDataCameFromHomeComp.email }}
            </li>
            <li class="list-group-item">
              {{ userDataCameFromHomeComp.location }}
            </li>
            <li class="list-group-item">
              {{ userDataCameFromHomeComp.followers_url }}
            </li>
            <li class="list-group-item">
              {{ userDataCameFromHomeComp.following_url }}
            </li>
            <li class="list-group-item">
              {{ userDataCameFromHomeComp.company }}
            </li>
            <li class="list-group-item">TS</li>
            <li class="list-group-item">Male</li>
            <li class="list-group-item">Software Developer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
