<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div [ngStyle]="mybox">
        <h2>ngStyle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque iure
          fuga porro sapiente eligendi recusandae deleniti, mollitia facere quis
          velit illo perferendis! Molestias quis sit, quae minus iure optio
          commodi ea sequi hic quia, dolores aspernatur impedit a alias nam esse
          quas fugit cupiditate molestiae totam tempora. Culpa, quos, in
          obcaecati adipisci atque veritatis aperiam deleniti minus minima modi
          accusantium illum est cum sit quidem ut itaque nostrum officiis.
          Blanditiis!
        </p>
        <button [ngStyle]="btnStyle" (click)="changeStyle()">
          Change Style!!!
        </button>
      </div>
    </div>
  </div>
</div>
