<div class="mainContainer">
  <div class="subContainer">
    <h2 class="display-4">Welcome to Angular</h2>
    <p class="lead p1">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum maiores
      dolore repellendus beatae perspiciatis molestias dolores minima, tempore,
      ex quasi eos maxime tempora consequatur. Molestiae, cum animi, tempora
      laudantium fugit possimus modi temporibus nemo, dolore sequi ducimus
      asperiores. Deleniti omnis ex quod eos debitis. Quo in laudantium sequi,
      delectus, facilis maxime at cum, eaque necessitatibus consequuntur odit?
      Laudantium iure quam molestiae aut, perspiciatis amet quidem repellat,
      molestias debitis quibusdam veniam.
    </p>
    <button class="btn btn-outline-success">Explore More!!!</button>
  </div>
</div>
