<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/52608/pexels-photo-52608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Chris Jain</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quam
            eum consectetur!
          </p>
          <button class="btn btn-outline-primary">Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
