<button class="mt-5">Without any Styles</button> <br /><Br />

<button class="btn btn-primary">Bootstrap Button</button><br /><Br />

<button mat-raised-button color="primary">Angular Material Button</button>

<button mat-fab color="primary">
  <mat-icon>delete</mat-icon></button
><br /><br />

<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile> 1 </mat-grid-tile>
  <mat-grid-tile> 2 </mat-grid-tile>
  <mat-grid-tile> 3 </mat-grid-tile>
  <mat-grid-tile> 4 </mat-grid-tile>
</mat-grid-list> -->
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" required />
  </mat-form-field>
</div>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<mat-form-field appearance="standard">
  <mat-label>Standard form field</mat-label>
  <input matInput placeholder="Placeholder" />
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>

<mat-label>Email</mat-label>
<input type="email" matInput placeholder="Ex. pat@example.com" />

<p>
  <mat-form-field appearance="legacy">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter Username" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint color="danger">Username required</mat-hint>
  </mat-form-field>
</p>

<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile colspan="2">1</mat-grid-tile>
  <mat-grid-tile rowspan="2">2</mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <img
      src="https://miro.medium.com/max/3650/1*UXfP0OlB-oVHrNQS9iKVkA.jpeg"
      width="100%"
      height="100%"
    />
  </mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile colspan="2">5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
</mat-grid-list>
