<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2 class="text-success">Users Information Form RandomUser.me</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
        eligendi numquam provident minima earum natus repellendus minus,
        corrupti assumenda quam autem praesentium quae veniam quia fugiat sed
        nihil asperiores, culpa molestiae veritatis! Quo sunt natus odit hic
        dolores, optio debitis minus laborum. Minima excepturi ipsa optio
        veritatis temporibus eligendi alias.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2">
      <input
        type="radio"
        name="gender"
        value="all"
        checked
        (change)="filterData('all')"
      />
      ALL
    </div>
    <div class="col-2">
      <input
        type="radio"
        name="gender"
        value="male"
        (change)="filterData('male')"
      />
      MALE
    </div>
    <div class="col-2">
      <input
        type="radio"
        name="gender"
        value="female"
        (change)="filterData('female')"
      />
      FEMALE
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3 mt-2" *ngFor="let user of filteredData">
      <div class="card">
        <div class="card-header">
          <img [src]="user.picture.medium" width="100%" height="100%" />
        </div>

        <div class="card-body">
          <h3>{{ user.name.first }} {{ user.name.last }}</h3>
          <p>{{ user.gender }}</p>
          <p>{{ user.email }}</p>
          <button class="btn btn-outline-success">Profile Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
