<div class="container mt-5">
  <h2>{{ serviceProperty }}</h2>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Chris Jain</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et dolorem
            tenetur minus aliquam provident quasi.
          </p>
          <button class="btn btn-primary">Profile</button>
        </div>

        <div class="card-footer">
          <h3>All Rights are Resevered</h3>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Chris Jain</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et dolorem
            tenetur minus aliquam provident quasi.
          </p>
          <button class="btn btn-primary">Profile</button>
        </div>

        <div class="card-footer">
          <h3>All Rights are Resevered</h3>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Chris Jain</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et dolorem
            tenetur minus aliquam provident quasi.
          </p>
          <button class="btn btn-warning">Profile</button>
        </div>

        <div class="card-footer">
          <h3>All Rights are Resevered</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Chris Jain</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et dolorem
            tenetur minus aliquam provident quasi.
          </p>
          <button class="btn btn-primary">Profile</button>
        </div>

        <div class="card-footer">
          <h3>All Rights are Resevered</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Chris Jain</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et dolorem
            tenetur minus aliquam provident quasi.
          </p>
          <button class="btn btn-primary">Profile</button>
        </div>

        <div class="card-footer">
          <h3>All Rights are Resevered</h3>
        </div>
      </div>
    </div>
  </div>
</div>
