<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="" class="navbar-brand">Angular Directives</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/ngswitch">ngSwitch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/users">Users</a>
      </li>
    </ul>
  </div>
</nav>
