<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="" class="navbar-brand">Angular Directives</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/ngswitch">ngSwitch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/ngclass">ngClass</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/github">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/inputd">Input Decorator</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white" routerLink="/outputd"
          >Output Decorator</a
        >
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/httpc">httpClient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/category">Category</a>
      </li>
    </ul>
  </div>
</nav>
